li a {
    color: green;
}

body {
        background: linear-gradient(to bottom right, #d3d3d3, #ffffff);
        height: 100vh; /* Ensure it covers the full viewport height */
        margin: 0;
        padding: 0;
}
    